p{
    color:rgb(224, 31, 31);
    background-color: pink;
    text-decoration:dotted underline;
    height: 50px;
    border-color: black;
    border-style: dashed;
    border-width: 5px;
    font-size: 15px;
    border-radius: 20px;
    border:10px solid black;
    width: 800px;
    padding-left: 50px;
    margin-bottom: 80px;

}